# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Prebuild generated native code (unless intentionally ejected/customized)
android/
ios/

# Android/iOS artifacts
*.apk
*.apks
*.aab
*.ipa

# TypeScript
*.tsbuildinfo

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
.metro/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.*

# typescript
*.tsbuildinfo

# IDE configs
.vscode/
.idea/

# OS & Editor
Thumbs.db
*.swp
*.swo
*.tmp
*.bak
